## Deliverable 3. Create a Travel Itinerary Map.

In [5]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [6]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,8,Faanui,PF,79.66,clear sky,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
1,11,Hithadhoo,MV,81.41,overcast clouds,-0.6000,73.0833,Scoop Guest House
2,16,Bethel,US,79.11,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury
3,20,Bang Saphan,TH,85.68,broken clouds,11.2126,99.5117,Ladawan Boutique Hotel
4,21,Somerset,US,87.69,clear sky,40.5668,-74.5496,Hilton Garden Inn Bridgewater

In [7]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}  and  {Max Temp} Â°F</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [8]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.1)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Niono")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Birnin Kebbi")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Kaura Namoda")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Goure")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Niono")]

In [27]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
t = vacation_start.to_numpy()
start = (t[0][5], t[0][6])
s = vacation_end.to_numpy()
end = (s[0][5], s[0][6])
x = vacation_stop1.to_numpy()
stop1 = (x[0][5], x[0][6])
y = vacation_stop2.to_numpy()
stop2 = (y[0][5], y[0][6])
z = vacation_stop3.to_numpy()
stop3 = (z[0][5], z[0][6])

In [28]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()

direct_layer = gmaps.directions_layer(start, end,
                                      waypoints=[stop1,stop2,stop3],
                                      travel_mode='DRIVING')
fig.add_layer(direct_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,394,Niono,ML,75.11,overcast clouds,14.2526,-5.9930,HÃ´tel Campement
1,88,Birnin Kebbi,NG,77.50,overcast clouds,12.4539,4.1975,Saffar Guest Inn Ltd
2,370,Kaura Namoda,NG,75.22,overcast clouds,12.5898,6.5779,Moonlight Hotel
3,404,Goure,NE,78.03,scattered clouds,13.9835,10.2704,NaN
4,394,Niono,ML,75.11,overcast clouds,14.2526,-5.9930,HÃ´tel Campement

In [30]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}  and  {Max Temp} Â°F</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [31]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))